extends layout


block content
  header#header    
    .container
      .jumbotron
        h1 Drupal.org Statistics
        h4 Enter your Drupal.org username
        div
          form#user-form.form-inline(role="form")
            .form-group
              label.sr-only(for="username") Username  
              input.form-control(type="text", name="username", required, value="")

            button.btn.btn-primary(type="submit", value="Submit") Search

  #main
      .container
        
        - if (data && data.error) {
            p.alert.alert-danger= data.error
        - }

        - else if (data) {

          .panel.panel-info
            .panel-heading Basic Information

            .panel-body
              ul.list-unstyled
                li 
                  strong Username: 
                  span= data.info.username
                li
                  strong Full name: 
                  span= data.info.full_name
                li
                  strong Website: 
                  span= data.info.my_website
                li
                  strong Gender: 
                  span= data.info.gender
                li
                  strong Twitter: 
                  span= data.info.twitter_url
                li
                  strong Member for: 
                  span= data.info.member_for

          .panel.panel-info
            .panel-heading Contributions

            .panel-body
              ul
                li
                  strong Documentation: 
                  span= data.info.documentation
                li
                  strong Projects: 
                  span= data.projects.count
                li
                  strong Commits: 
                  span= data.commits.count

          .panel.panel-info
            .panel-heading Projects (#{data.projects.count})

            .panel-body
              ul
                - for (project in data.projects.projects) {
                  li 
                    span.title #{data.projects.projects[project].title}: 
                    strong.commit #{data.projects.projects[project].commits} commits
                    em #{data.projects.projects[project].downloads}
                - }

          footer#footer
            p This data is also available in JSON format 
              a(href="?username=#{data.info.username}&json=1") here
        - }
