extends layout

block content
  h1 Drupal.org Statistics

  h2 Enter your Drupal.org username
  form#user-form
    label Username
    input(type="text", name="username", required)

    input(type="submit", value="Submit")

  - if (data.error) {
      p.alert.alert-danger= data.error
  - }

  - else if (data) {
    h1 Information

    ul
      li 
        strong Username: 
        span= data.info.username
      li
        strong Full name: 
        span= data.info.full_name
      li
        strong Website: 
        span= data.info.my_website
      li
        strong Gender: 
        span= data.info.gender
      li
        strong Twitter: 
        span= data.info.twitter_url
      li
        strong Member for: 
        span= data.info.member_for

    h1 Statistis

    ul
      li
        strong Documentation: 
        span= data.info.documentation
      li
        strong Commits: 
        span= data.commits.count

    h1 Projects (#{data.projects.count})

    ul
      - for (project in data.projects.projects) {
        li 
          span.title #{data.projects.projects[project].title}: 
          strong.commit #{data.projects.projects[project].commits} commits
          em #{data.projects.projects[project].downloads}
      - }

    hr

    p This data is available in JSON at 
      a(href="#{source.json}") #{source.json}
  - }
